<span [class]="class" *ngIf="key === 'resource.test.key'" i18n>Some translated Label</span>
<span [class]="class" *ngIf="key === 'resource.test.key2'" i18n>Some translated Label 2</span>
<span [class]="class" *ngIf="key === 'resource.test.key3'" i18n>Some translated Label 3</span>
<span [class]="class" *ngIf="key === 'resource.test.key4'" i18n>Some translated Label 4</span>
<span [class]="class" *ngIf="key === 'form.validation.required.error.message'" i18n>is required!!</span>
<span [class]="class" *ngIf="key === 'form.validation.email.error.message'" i18n>must be a valid email!!</span>
<span [class]="class" *ngIf="key === 'form.element.label.input'" i18n>My Input</span>
<span [class]="class" *ngIf="key === 'form.element.label.input2'" i18n>My Input</span>
<span [class]="class" *ngIf="key === 'form.element.label.input3'" i18n>My Select</span>
<span [class]="class" *ngIf="key === 'form.element.label.op1'" i18n>My Fancy Option resource</span>
<span [class]="class" *ngIf="key === 'form.element.label.op2'" i18n>My Fancy Option resource 2</span>
<span [class]="class" *ngIf="key === 'form.element.label.defaultOption'" i18n>Select a option</span>
<span [class]="class" *ngIf="key === 'form.optional.label'" i18n>(Optional)</span>
<span [class]="class" *ngIf="key === 'form.element.label.section'" i18n>My Awesome from</span>
