<span *ngIf="key === 'resource.test.key'" i18n>Some translated Label</span>
<span *ngIf="key === 'resource.test.key2'" i18n>Some translated Label 2</span>
<span *ngIf="key === 'resource.test.key3'" i18n>Some translated Label 3</span>
<span *ngIf="key === 'resource.test.key4'" i18n>Some translated Label 4</span>
<span *ngIf="key === 'form.required.error.message'" i18n>is required!!</span>
<span *ngIf="key === 'form.email.error.message'" i18n>must be a valid email!!</span>
<span *ngIf="key === 'form.element.label.input'" i18n>My Input</span>
