<yaux-form-element-wrapper [id]="id" [formGroup]="formGroup" [colSize]="colSize">
  <div>
    <yaux-form-radio *ngFor="let item of items"
                        [id]="item.id"
                        [orientation]="orientation"
                        [value]="item.value"
                        [inputValue]="item.inputValue"
                        [formGroup]="internalFormGroup"
                        [name]="name"
                        (valueChange)="onInputClicked(item, $event)"
    ></yaux-form-radio>
  </div>
</yaux-form-element-wrapper>
