<div *ngIf="orientationTypes.VERTICAL === orientation" class="checkbox">
  <label>
    <input type="radio" value="{{value}}" id="{{id}}" name={{name}} [checked]="selected" (click)="onValueChange($event)">
    <yaux-form-label [for]="id" [translationKey]="translationKey" [isRequired]="true"></yaux-form-label>
  </label>
</div>
<label *ngIf="orientationTypes.HRIZONTAL === orientation" class="checkbox-inline">
  <input type="radio" value="{{value}}" id="{{id}}" name={{name}} [checked]="selected" (click)="onValueChange($event)">
  <yaux-form-label [for]="id" [translationKey]="translationKey" [isRequired]="true"></yaux-form-label>
</label>
